#!/usr/bin/make -f
# -*- makefile -*-

# spec%build
export HCOM_BUILD_RPM=off
export HCOM_BUILD_UB=on
export HCOM_BUILD_HTRACER=on

%:
	dh $@

override_dh_auto_configure:
	# configurebuild.sh
	@echo "Using custom build script"

override_dh_auto_build:
	# spec%build
	bash build.sh

override_dh_auto_install:
	dh_auto_install
	
	# spec%install
	mkdir -p debian/tmp/usr/lib/aarch64-linux-gnu/
	mkdir -p debian/tmp/usr/local/jars/hcom
	mkdir -p debian/tmp/usr/include/hcom/capi
	mkdir -p debian/tmp/usr/local/bin
	
	cp -a dist/hcom/lib/libhcom.so.0.0.1 debian/tmp/usr/lib/aarch64-linux-gnu/
	
	cd debian/tmp/usr/lib/aarch64-linux-gnu/ && \
		ln -sf libhcom.so.0.0.1 libhcom.so.0 && \
		ln -sf libhcom.so.0 libhcom.so
	
	cp -a dist/hcom/lib/libhcom_static.a debian/tmp/usr/lib/aarch64-linux-gnu/
	
	cp -r dist/hcom/include/hcom/* debian/tmp/usr/include/hcom/
	
	# java_compile
	if [ -d hcom/jars ]; then \
		cp hcom/jars/* debian/tmp/usr/local/jars/hcom/; \
	fi
	
	# hcom_perf
	if [ -f tools/perf_test/build/hcom_perf ]; then \
		cp -r tools/perf_test/build/hcom_perf debian/tmp/usr/local/bin/; \
	fi
	
	# htracer_cli
	if [ -f dist/hcom_3rdparty/hcom_tracer/htracer_cli ]; then \
		cp -r dist/hcom_3rdparty/hcom_tracer/htracer_cli debian/tmp/usr/local/bin/; \
	fi

override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info

override_dh_strip:
	dh_strip -pubs-comm-lib

override_dh_compress:
	dh_compress -X.h -X.a

override_dh_fixperms:
	dh_fixperms -X.so.0.0.1
